asgiref==3.4.1
backports.entry-points-selectable==1.1.0
codegen==1.0
distlib==0.3.2
Django==3.2.6
django-cors-headers==3.13.0
djangorestframework==3.13.1
filelock==3.0.12
numpy==1.22.2
patterns==0.3
platformdirs==2.2.0
ply==3.11
PyMySQL==1.0.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
unicode==2.8
Unidecode==1.2.0
virtualenv==20.7.0
