{% load static %}
{% csrf_token %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        input::-ms-reveal,
        input::-ms-clear {
            display: none;
        }

        #message {
            color: red;
            display: none;
        }
    </style>
</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Recuperar Contraseña</title>
    <div class="main">
        <div class="container">
            <div id="square">
                <div class="front">
                    <h1>Recuperar Contraseña</h1>
                    <form id="form" action="/api/recuperar_credenciales/actualizar_clave/" method="post">
                        <input type="hidden" id="token" name="token" value="{{ token }}">
                        <div class="input-box">
                            <input required type="password" name="nueva_clave" id="password" placeholder="Contraseña" />
                            <img src="{% static 'assets/eye-close.png' %}" id="eyeicon">
                        </div>
                        <div class="input-box_2">
                            <input required type="password" name="nueva_clave_confirmacion" id="confirm_password"
                                placeholder="Nueva Contraseña" />
                            <img src="{% static 'assets/eye-close.png' %}" id="eyeicon2">
                        </div>
                        <p id="message" style="color: red; display: none;">Contraseñas No Coinciden</p>
                        <button type="submit">Cambiar Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var form = document.getElementById('form');
        var password = document.getElementById('password');
        var confirmPassword = document.getElementById('confirm_password');
        var message = document.getElementById('message');

        form.addEventListener('submit', function (event) {
            if (password.value !== confirmPassword.value) {
                message.style.display = 'block';
                event.preventDefault();
            } else {
                message.style.display = 'none';
            }
        });
    </script>
    <script>
        let eyeicon = document.getElementById("eyeicon")
        let password1 = document.getElementById("password")

        eyeicon.onclick = function () {
            if (password1.type == "password") {
                password1.type = "text";
                eyeicon.src = "{% static 'assets/eye-open.png' %}"
            } else {
                password1.type = "password";
                eyeicon.src = "{% static 'assets/eye-close.png' %}"
            }
        }
    </script>
    <script>
        let eyeicon2 = document.getElementById("eyeicon2")
        let password_confirm = document.getElementById("confirm_password")

        eyeicon2.onclick = function () {
            if (password_confirm.type == "password") {
                password_confirm.type = "text";
                eyeicon2.src = "{% static 'assets/eye-open.png' %}"
            } else {
                password_confirm.type = "password";
                eyeicon2.src = "{% static 'assets/eye-close.png' %}"
            }
        }
    </script>
</body>