{% load static %}
{% csrf_token %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Exito</title>
    <div class="main">
        <div class="container">
            <div id="square">
                <div class="front">
                    <h1>El Link ha Caducado</h1>
                    <h1>Genere otro desde la aplicación</h1>
                </div>
            </div>
        </div>
    </div>

</body>